body {
    margin: 0;
    padding: 0;
    overflow-y: visible; 
    font-family: 'DIN 2014';
    font-style: normal;
}
header {
    background-color: #16264F;
    height: 100vh;
    color: #FDFDFD;
    margin-bottom: 300px;
}
.heroImg {
    position: absolute;
    left: 38px;
    top: 0px;
    height: 100vh;
}
h1 {
    position: absolute;
    height: 153px;
    left: 11%;
    top: 40%;
    font-weight: 800;
    font-size: 900%;
    line-height: 153px;
    color: #FDFDFD;
    margin:0;
}
h2 {
    position: absolute;
    height: 51px;
    left: 11%;
    top: 33%;
    font-weight: 700;
    font-size: 300%;
    line-height: 51px;
    color: #FDFDFD;
    margin:0;
}
h3 {
    color: #223871;
    font-weight: 700;
    font-size: 40px;
    line-height: 51.04px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
h4 {
    color: #223871;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 0;
    width: 95%;
}
h5 {
    font-weight: 300;
    line-height: 30px;
    font-size: 30px;
    color: #223876;
}
.eofy {
    position: absolute;
    width: 653px;
    height: 65px;
    left: 105%;
    top: -8px;
    font-family: 'Marydale';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 65px;
    color: #F7991C;
}
button {
    position: absolute;
    width: 11.9%;
    height: 54px;
    left: 11%;
    top: 60%;
    background: #F7991C;
    border-radius: 88px;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #FDFDFD;
    margin:0;
    border:none;
}
.logo {
    position: absolute;
    left: 6.25%;
    top: 0%;
    bottom: 82.75%;
}
.disclaimer {
    position: absolute;
    left: 11%;
    top: 90%;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF; 
}
.topnav #myLinks {
    display: none;
    width: auto;
    position: absolute; 
    right: 14%;
    top: 12%;
    text-align: right;
    padding: 5px;
}
.topnav a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 30px;
}
.topnav a.icon {
    display: block;
    position: absolute;
    right: 14.17%;
    top: 8.09%;
}
.benefitgrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-bottom: 250px;
}
.benefitgrid card {
    width: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.benefitgrid card img {
    position: relative;
    top: 15%;
}
.benefitgrid card p {
    color: #545454;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    margin-top: 15px;
    width: 89%
}
.contractpara {
    width: 75% !important;
}
#hiddenBenefits {
    display: none;
}
.benefitgrid card a {
    color:#F7991C;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}
#building {
    right: 55px;
}
#contract {
    right: 40px;
}
#legal {
    right: 45px;
    top: 35px;
}
#training {
    top: 38px;
    right: 45px;
}
#insurance {
    top: 38px;
    right: 45px;
}
#workplace {
    top: 38px;
    right: 80px;
}
.discountCard {
    display: inline-block;
    position: relative;
    width: 282px;
    height: 200px;
    margin: auto 20px 50px 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.13);
    background-image: url(../img/Rectangle\ 41.png);
    background-repeat: no-repeat no-repeat;
}
.discountCard:hover {
    background-image: url(../img/bgorange.png);
}
.discountCard img {
    float: left;
    padding: 20px;
    top: 0px;
}
.discountCard h5 {
    position: absolute;
    bottom: -20px;
    width: 270px;
    left: 10px;
    text-align: left;
}
a {
    text-decoration: none;
}
.discountCard p {
    position: absolute;
    color: white;
    right:5px;
    
}
.moreben {
    color:#F7991C;
    font-weight: 700;
    font-size: 20px;
}
.discounts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: auto;
}
#member {
    text-align: center;
    margin-bottom: 350px;
}
.tr, .mr {
    padding-bottom: 60px;

    border-bottom: 0.25px solid rgba(197, 197, 197, 0.5);
}
.tl, .ml {
    padding-bottom: 60px;
    border-bottom: 0.25px solid rgba(197, 197, 197, 0.5);
    border-right: 0.25px solid rgba(197, 197, 197, 0.5);
}
.bl {
    border-right: 0.25px solid rgba(197, 197, 197, 0.5);
}
.tr, .mr, .br {
    padding-left: 200px;
}
.tl, .ml, .bl {
    padding-left: 150px;
}
.box3 {
    width: 80%;
    margin: 30px;
    border-radius: 15px;
    background: #f8faff;
    color: #213876;
    padding: 30px;
    font-weight: 300;
    position: relative;
}
.special {
    background: #213876;
    color: white;
}
.sb15:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #213876;
    border-top: 15px solid #213876;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
}
.sb14:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid #f8faff;
    border-top: 15px solid #f8faff;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
}
#testimonials {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    margin-bottom: 300px;
}
.quotesmiddle, .quotesright {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: center;
}
.testleft {
    display: flex;
    align-items: center;
    width: 50%;
}
.memberstitle {
    text-align: left;
    width: 40%;
}

